/* .flexbx{
    justify-content: right;

}

@media screen and (max-width: 720px) {
    .flexbx{
        justify-content:start;
        display: flex;
        flex-direction: column;
       
        
    }
    .bxn{
        
        margin-bottom: -50px;
        

    }

    .btngrp{
       display: flex;
       flex-direction: column;
       gap: -5px;
    }



} */