.flexBox1{
    
    padding:15px;
     gap:5px;
     width:70%

}
.skills-card{
    margin-bottom: 20px

}


@media screen and (max-width: 480px) {
    .skills-card{
        scale: 0.7;
        gap:-10px;
    }
   
    .skills-card{
        margin-bottom: -20px
    
    }
    
  }
